<div class="main" ng-controller="midCtrl">
       <div class="title"></div>
        <div class="conRight-title">
            <div class="conRight-date">
                <div class="conRight-date-l">
                    <div class="conRight-date-d">星期三</div>
                    <div class="conRight-date-x" ng-bind="year"></div>
                </div >
                <div class="conRight-date-r" ng-bind="formatedDateToday"></div>
            </div>
        </div>
        <div class="left">
            <div class="wuran">
                <div class="wuran-top">sdfsdf</div>
                <div class="wuran-mid">sdfsdf</div>
                <div class="wuran-bottom">sdfsdf</div>
            </div>
            <div class="shuizhi">水质环境</div>
        </div>
        <div class="mid">大气质量环境</div>
        <div class="right">建设项目</div>
        <div options="ttt" cgs-echarts="" id="test" style="width: 600px;height: 400px"></div>
    </div>